alabaster: Version not specified
anaconda-client: 1.11.0
anaconda-navigator: 2.3.1
anaconda-project: Version not specified
anyio: Version not specified
appdirs: 1.4.4
applaunchservices: Version not specified
appnope: Version not specified
appscript: Version not specified
arabic-reshaper: 3.0.0
argon2-cffi: Version not specified
argon2-cffi-bindings: Version not specified
arrow: Version not specified
asgiref: 3.6.0
astroid: Version not specified
astropy: Version not specified
atomicwrites: 1.4.0
attrs: Version not specified
Automat: Version not specified
autopep8: Version not specified
Babel: Version not specified
backcall: Version not specified
backports.functools-lru-cache: Version not specified
backports.tempfile: Version not specified
backports.weakref: 1.0.post1
bcrypt: Version not specified
beautifulsoup4: Version not specified
binaryornot: Version not specified
bitarray: Version not specified
bkcharts: 0.2
black: Version not specified
bleach: Version not specified
bokeh: Version not specified
boto3: Version not specified
botocore: Version not specified
Bottleneck: Version not specified
brotlipy: 0.7.0
certifi: Version not specified
cffi: Version not specified
chardet: Version not specified
charset-normalizer: Version not specified
click: Version not specified
cloudpickle: Version not specified
clyent: 1.2.2
colorama: Version not specified
colorcet: Version not specified
conda: 22.9.0
conda-build: 3.22.0
conda-content-trust: Version not specified
conda-pack: Version not specified
conda-package-handling: Version not specified
conda-repo-cli: 1.0.20
conda-token: Version not specified
conda-verify: 3.4.2
constantly: 15.1.0
cookiecutter: Version not specified
cryptography: Version not specified
cssselect: 1.1.0
cycler: Version not specified
Cython: Version not specified
cytoolz: 0.11.0
daal4py: 2021.6.0
dask: Version not specified
datashader: Version not specified
datashape: 0.5.4
debugpy: Version not specified
decorator: Version not specified
defusedxml: Version not specified
diff-match-patch: Version not specified
dill: Version not specified
distributed: Version not specified
Django: 4.0.8
docutils: Version not specified
docx2txt: 0.8
entrypoints: Version not specified
et-xmlfile: 1.1.0